
<h2 class="pageHeader">Would you like to be a chef for Chezcasa?</h2>

<p>Just click Yes below!</p>

<%= form_for @user do |f| %>

<%= f.hidden_field :role, :value=>"chef" %>

<%= f.submit "Yes" %>

<% end %>
