
<h2 class="pageHeader">Edit your dish</h2>

<p>Here are a few reminders:</p>

<ul>
    <li>Name your dish!</li>
    <ul><li>Creativity is good. But clarity is good, too.</li></ul>
    <li>Take a picture (this is required!) For tips on taking a world-class photo, check <a href="#">here</a>.</li>
    <li>A list of the ingredients you used</li>
    <ul><li>This doesn't have to be comprehensive, but MUST include everything that might cause an allergic reaction!</li>
    <li>For a list of all ingredients you MUST list, check <a href="#">here</a>.</li></ul>
    <li>A price (it's YOUR kitchen--put it to work!)</li>
    <li>A portion size</li>
    <ul><li>This could be "1 taco", "1 plate", or 6oz. WHatever makes sense.</li></ul>
    <li>The quantity you have available (based on your portion sizes)</li>
    <li>Finally, write a quick description! How did you cook it? What ingredients did you focus on? Basically, what makes it DELICIOUS?</li>
</ul>

<%= render 'form' %>
